name: Library Snapshot

# This build process is triggered in case changes are being pushed to the master branch.
# This process takes the latest master changes, build and test the new version and finally publish the artifacts
# to the Central Maven SNAPSHOT Repository.

on:
  workflow_call:
    inputs:
      java-version:
        description: Java version to use for building.
        required: false
        type: number
        default: 11
      java-distribution:
        description: Java distribution to use for building.
        required: false
        type: string
        default: 'temurin'
      codecov-enabled:
        description: Flag to indicate whether a coverage report should be send to codecov.
        required: false
        type: boolean
        default: false
      docker-build:
        description: Flag if docker image should be build and published
        required: false
        type: boolean
        default: false
    secrets:
      SIGNING_KEY:
        required: true
      SIGNING_KEY_ID:
        required: true
      SIGNING_PASSWORD:
        required: true
      OSSRH_USERNAME:
        required: true
      OSSRH_PASSWORD:
        required: true

jobs:
  extract-info:
    runs-on: ubuntu-latest
    steps:
      - name: Check out sources...
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Retrieve Project Data
        id: extract-info
        run: |
          VERSION=$( git describe --tags --abbrev=0 | sed  "s/^v\?\(.*\)\.[[:digit:]]\+$/\\1.x-SNAPSHOT/")
          echo "VERSION=$VERSION" >> $GITHUB_OUTPUT
    outputs:
      VERSION: ${{ steps.extract-info.outputs.VERSION }}

  linux-build-publish:
    runs-on: ubuntu-latest
    needs:
      - extract-info
    env:
      VERSION: ${{ needs.extract-info.outputs.VERSION }}
    steps:
      - name: Check out sources...
        uses: actions/checkout@v4

      - name: Set up JDK ${{ inputs.java-version }}
        uses: actions/setup-java@v4
        with:
          distribution: ${{ inputs.java-distribution }}
          java-version: ${{ inputs.java-version }}
          cache: 'gradle'

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v5

      - uses: haya14busa/action-cond@v1
        id: jacoco
        with:
          cond: ${{ inputs.codecov-enabled }}
          if_true: "jacocoTestReport"
          if_false: ""

      - name: Build with Gradle
        run: ./gradlew build ${{ steps.jacoco.outputs.value }} -PprojectVersion=${{ env.VERSION }}  --no-daemon

      - name: Submit Code coverage
        if: inputs.codecov-enabled
        uses: codecov/codecov-action@v4
        with:
          flags: ${{ matrix.os }}, JDK ${{ matrix.java }}
          file: build/reports/jacoco/test/jacocoTestReport.xml

      - name: Upload Artifacts to GitHub Build Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: libs
          path: build/libs

      - name: Upload Test Results to GitHub Build Artifacts
        if: ${{ always() }}
        uses: actions/upload-artifact@v4
        with:
          name: test-results linux
          path: build/reports/tests/test

      - name: Publish artifacts to Maven Central Snapshot
        env:
          SIGNING_KEY: ${{ secrets.SIGNING_KEY }}
          SIGNING_KEY_ID: ${{ secrets.SIGNING_KEY_ID }}
          SIGNING_PASSWORD: ${{ secrets.SIGNING_PASSWORD }}
          OSSRH_USERNAME: ${{ secrets.OSSRH_USERNAME }}
          OSSRH_PASSWORD: ${{ secrets.OSSRH_PASSWORD }}
        run: |
          echo $SIGNING_KEY | base64 -d > $PWD/secring.gpg
          ./gradlew publishToSonatype closeAndReleaseSonatypeStagingRepository \
              -Psigning.keyId=$SIGNING_KEY_ID \
              -Psigning.password=$SIGNING_PASSWORD \
              -Psigning.secretKeyRingFile=$PWD/secring.gpg \
              -PossrhUsername=$OSSRH_USERNAME \
              -PossrhPassword=$OSSRH_PASSWORD \
              -PprojectVersion=${{ env.VERSION }} \
              --no-daemon
      - name: Ensuring Deployment Visibility In The Central Publisher Portal
      # https://central.sonatype.org/publish/publish-portal-ossrh-staging-api/#ensuring-deployment-visibility-in-the-central-publisher-portal
        run: |
          # Make HTTP POST request with no body - curl will exit with non-zero code on failure
          curl -X POST \
            -u "$OSSRH_USERNAME:$OSSRH_PASSWORD" \
            "https://ossrh-staging-api.central.sonatype.com/manual/upload/defaultRepository/org.cip4"
        env:
          OSSRH_USERNAME: ${{ secrets.OSSRH_USERNAME }}
          OSSRH_PASSWORD: ${{ secrets.OSSRH_PASSWORD }}

  windows-test:
    runs-on: windows-latest
    steps:
      - name: Check out sources...
        uses: actions/checkout@v4

      - name: Set up JDK ${{ inputs.java-version }}
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: ${{ inputs.java-version }}
          cache: 'gradle'

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v5

      - uses: haya14busa/action-cond@v1
        id: jacoco
        with:
          cond: ${{ inputs.codecov-enabled }}
          if_true: "jacocoTestReport"
          if_false: ""

      - name: Test with Gradle
        run: ./gradlew test ${{ steps.jacoco.outputs.value }} --no-daemon

      - name: Generate and submit dependency graph
        uses: gradle/actions/dependency-submission@v5

      - name: Submit Code coverage
        if: inputs.codecov-enabled
        uses: codecov/codecov-action@v4
        with:
          flags: ${{ matrix.os }}, JDK ${{ matrix.java }}
          file: build/reports/jacoco/test/jacocoTestReport.xml

      - name: Upload Test Results to GitHub Build Artifacts
        if: ${{ always() }}
        uses: actions/upload-artifact@v4
        with:
          name: test-results windows
          path: build/reports/tests/test

  docker-build:
    runs-on: ubuntu-latest
    if: ${{ inputs.docker-build }}
    needs:
      - extract-info
    env:
      PROJECT: ${{ needs.extract-info.outputs.PROJECT }}
      PROJECT_HANDLE: ${{ needs.extract-info.outputs.PROJECT_HANDLE }}
      SERVICE_NAME: ${{ needs.extract-info.outputs.PROJECT_HANDLE }}-cip4-org
      RUN_REGION: europe-west1
      ARTIFACT_REGISTRY_LOCATION: europe-west1
      ARTIFACT_REGISTRY_REPO: docker-images
    steps:
      - name: Check out sources...
        uses: actions/checkout@v4

      - name: Build docker container
        run: |-
          docker build \
            -t cip4/${PROJECT_HANDLE}:latest \
            -t "${{ env.ARTIFACT_REGISTRY_LOCATION }}-docker.pkg.dev/${{ secrets.GCP_PROJECT_ID }}/${{ env.ARTIFACT_REGISTRY_REPO }}/${SERVICE_NAME}:latest" \
            --build-arg VERSION=dev \
            --build-arg BUILD_NUMBER=${GITHUB_RUN_NUMBER} \
            --build-arg GIT_REV=${GITHUB_SHA} \
            .

      - name: Login to Docker Hub
        run: docker login -u ${{ secrets.DOCKER_HUB_USERNAME }} -p ${{ secrets.DOCKER_HUB_PASSWORD }}

      - name: Push README to Docker Hub
        uses: peter-evans/dockerhub-description@v4
        with:
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_PASSWORD }}
          repository: cip4/${{ env.PROJECT_HANDLE }}

      - name: Push docker container to Docker Hub
        run: docker push cip4/${{ env.PROJECT_HANDLE }}:latest

      - name: Authenticate to Google Cloud
        uses: google-github-actions/auth@v2
        with:
          credentials_json: '${{ secrets.GCP_SA_KEY }}'
          token_format: access_token
          service_account: github@cip4-net.iam.gserviceaccount.com

      - name: Setup GCloud CLI
        uses: google-github-actions/setup-gcloud@v2
        with:
          project_id: ${{ secrets.GCP_PROJECT_ID }}

      - name: Docker Auth for Artifact Registry
        run: gcloud auth configure-docker ${{ env.ARTIFACT_REGISTRY_LOCATION }}-docker.pkg.dev

      - name: Push Image to Google Artifact Registry
        run: docker push "${{ env.ARTIFACT_REGISTRY_LOCATION }}-docker.pkg.dev/${{ secrets.GCP_PROJECT_ID }}/${{ env.ARTIFACT_REGISTRY_REPO }}/${SERVICE_NAME}:latest"

      - name: Deploy to Cloud Run
        run: |-
          gcloud run deploy "${SERVICE_NAME}" \
            --region "${RUN_REGION}" \
            --image "${{ env.ARTIFACT_REGISTRY_LOCATION }}-docker.pkg.dev/${{ secrets.GCP_PROJECT_ID }}/${{ env.ARTIFACT_REGISTRY_REPO }}/${SERVICE_NAME}:latest" \
            --platform "managed" \
            --allow-unauthenticated
