name: Library Release

# This build process is triggered in case a new annotated tag has been created, which name starts with "JDFLibJ-2.1.".
# This process takes the latest master changes, build and test the new version and finally releases the artifacts
# on the Central Maven Repository as well as on projects Release page on github.

on:
  workflow_call:
    inputs:
      java-version:
        description: Java version to use for building.
        required: false
        type: number
        default: 11
      java-distribution:
        description: Java distribution to use for building.
        required: false
        type: string
        default: 'temurin'
    secrets:
      SIGNING_KEY:
        required: true
      SIGNING_KEY_ID:
        required: true
      SIGNING_PASSWORD:
        required: true
      OSSRH_USERNAME:
        required: true
      OSSRH_PASSWORD:
        required: true

jobs:
  linux-build-publish:
    runs-on: ubuntu-latest
    steps:
      - name: Check out sources...
        uses: actions/checkout@v2

      - name: Set up JDK ${{ inputs.java-version }}
        uses: actions/setup-java@v3
        with:
          distribution: ${{ inputs.java-distribution }}
          java-version: ${{ inputs.java-version }}
          cache: 'gradle'

      - name: Build with Gradle
        run: ./gradlew build -PprojectVersion=${GITHUB_REF##*/} --no-daemon

      - name: Attach files to GitHub Release
        uses: svenstaro/upload-release-action@v1-release
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          file: build/libs/*
          tag: ${{ github.ref }}
          overwrite: true
          file_glob: true

      - name: Upload Artifacts to GitHub Build Artifacts
        uses: actions/upload-artifact@v1
        with:
          name: libs
          path: build/libs

      - name: Upload Test Results to GitHub Build Artifacts
        if: ${{ always() }}
        uses: actions/upload-artifact@v1
        with:
          name: test-results linux
          path: build/reports/tests/test

      - name: Publish artifacts to Maven Central Repository
        env:
          SIGNING_KEY: ${{ secrets.SIGNING_KEY }}
          SIGNING_KEY_ID: ${{ secrets.SIGNING_KEY_ID }}
          SIGNING_PASSWORD: ${{ secrets.SIGNING_PASSWORD }}
          OSSRH_USERNAME: ${{ secrets.OSSRH_USERNAME }}
          OSSRH_PASSWORD: ${{ secrets.OSSRH_PASSWORD }}
        run: |
          echo $SIGNING_KEY | base64 -d > $PWD/secring.gpg
          ./gradlew publish closeAndReleaseRepository \
              -Psigning.keyId=$SIGNING_KEY_ID \
              -Psigning.password=$SIGNING_PASSWORD \
              -Psigning.secretKeyRingFile=$PWD/secring.gpg \
              -PossrhUsername=$OSSRH_USERNAME \
              -PossrhPassword=$OSSRH_PASSWORD \
              -PprojectVersion=${GITHUB_REF##*/} \
              --no-daemon

  windows-test:
    runs-on: windows-latest
    steps:
      - name: Check out sources...
        uses: actions/checkout@v2

      - name: Set up JDK ${{ inputs.java-version }}
        uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: ${{ inputs.java-version }}
          cache: 'gradle'

      - name: Test with Gradle
        run: ./gradlew test --no-daemon

      - name: Upload Test Results to GitHub Build Artifacts
        if: ${{ always() }}
        uses: actions/upload-artifact@v1
        with:
          name: test-results windows
          path: build/reports/tests/test
