name: Pull-Request

on:
  workflow_call:
    inputs:
      java-version:
        description: Java version to use for building.
        required: false
        type: number
        default: 11
      java-distribution:
        description: Java distribution to use for building.
        required: false
        type: string
        default: 'temurin'
      codecov-enabled:
        description: Flag to indicate whether a coverage report should be send to codecov.
        required: false
        type: boolean
        default: false

jobs:
  build:
    strategy:
      matrix:
        os: [ ubuntu-latest, macos-latest, windows-latest ]
    runs-on: ${{ matrix.os }}
    name: Java build on ${{ matrix.os }} with JDK ${{ inputs.java-version }}
    steps:
      - name: Check out sources...
        uses: actions/checkout@v4

      - name: Set up JDK ${{ inputs.java-version }}
        uses: actions/setup-java@v4
        with:
          distribution: ${{ inputs.java-distribution }}
          java-version: ${{ inputs.java-version }}
          cache: 'gradle'

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v5

      - uses: haya14busa/action-cond@v1
        id: jacoco
        with:
          cond: ${{ inputs.codecov-enabled }}
          if_true: "jacocoTestReport"
          if_false: ""

      - name: Test with Gradle
        run: ./gradlew test ${{ steps.jacoco.outputs.value }}

      - name: Submit Code coverage
        if: inputs.codecov-enabled
        uses: codecov/codecov-action@v4
        with:
          flags: ${{ matrix.os }}, JDK ${{ matrix.java }}
          file: build/reports/jacoco/test/jacocoTestReport.xml

      - name: Upload Test Results to GitHub Build Artifacts
        if: ${{ always() }}
        uses: actions/upload-artifact@v4
        with:
          name: test-results for ${{ matrix.os }},JDK-${{ inputs.java-version }}
          path: build/reports/tests/test
