name: Tool Release

on:
  workflow_call:
    inputs:
      confluence-label:
        description: Label to attach to the binaries uplaoded to confluence.
        required: true
        type: string
      confluence-content-id:
        description: ID of the confluence page to attach the snapshot to.
        required: true
        type: number
      apple-bundle-id:
        description: BundleID to use when notarizing the MacOS build.
        required: true
        type: string
      java-version:
        description: Java version to use for building.
        required: false
        type: number
        default: 15
      java-distribution:
        description: Java distribution to use for building.
        required: false
        type: string
        default: 'adopt'
      working-directory:
        description: Working directory for the workflow
        required: false
        type: string
        default: ./
      docker-build:
        description: Flag if docker image should be build and published
        required: false
        type: boolean
        default: false
    secrets:
      APPLE_PASSWORD:
        required: true
      APPLE_CERTIFICATE:
        required: true
      APPLE_CERTIFICATE_PASSWORD:
        required: true
      ATLASSIAN_USER:
        required: true
      ATLASSIAN_TOKEN:
        required: true
      CODESIGN_CHAIN:
        required: true
      GCP_SA_KEY:
        required: false
      GCP_PROJECT_ID:
        required: false
      DOCKER_HUB_USERNAME:
        required: false
      DOCKER_HUB_PASSWORD:
        required: false

defaults:
  run:
    shell: bash
jobs:
  extract-info:
    runs-on: ubuntu-latest
    steps:
      - name: Check out sources...
        uses: actions/checkout@v4

      - name: Retrieve Project Name
        id: retrieveProject
        working-directory: ${{ inputs.working-directory }}
        run: |
          PROJECT=$(cat settings.gradle | grep -o -P "(?<=rootProject.name = ').*(?=')")
          PROJECT_ESCAPED=$(printf %q "$PROJECT")
          PROJECT_HANDLE=$(echo "$PROJECT" | sed "s/CIP4 //" | tr '[:upper:]' '[:lower:]')
          echo "PROJECT=$PROJECT" >> $GITHUB_OUTPUT
          echo "PROJECT_ESCAPED=$PROJECT_ESCAPED" >> $GITHUB_OUTPUT
          echo "PROJECT_HANDLE=$PROJECT_HANDLE" >> $GITHUB_OUTPUT
    outputs:
      PROJECT: ${{ steps.retrieveProject.outputs.PROJECT }}
      PROJECT_ESCAPED: ${{ steps.retrieveProject.outputs.PROJECT_ESCAPED }}
      PROJECT_HANDLE: ${{ steps.retrieveProject.outputs.PROJECT_HANDLE }}

  linux-build:
    runs-on: ubuntu-latest
    needs:
      - extract-info
    env:
      PROJECT: ${{ needs.extract-info.outputs.PROJECT }}
      PROJECT_ESCAPED: ${{ needs.extract-info.outputs.PROJECT_ESCAPED }}
    steps:
      - name: Check out sources...
        uses: actions/checkout@v4

      - name: Setup JDK ${{ inputs.java-version }}
        uses: actions/setup-java@v4
        with:
          distribution: ${{ inputs.java-distribution }}
          java-version: ${{ inputs.java-version }}
          cache: 'gradle'

      - name: Build with Gradle
        working-directory: ${{ inputs.working-directory }}
        run: ./gradlew test distZip distTar -PprojectVersion="${GITHUB_REF/refs\/tags\//}" --no-daemon

      - name: Rename .ZIP
        working-directory: ${{ inputs.working-directory }}
        run: mv build/distributions/${{ env.PROJECT_ESCAPED }}-*.zip "build/distributions/${{ env.PROJECT }}-${GITHUB_REF/refs\/tags\//}.zip" || true

      - name: Rename .TAR
        working-directory: ${{ inputs.working-directory }}
        run: mv build/distributions/${{ env.PROJECT_ESCAPED }}-*.tar "build/distributions/${{ env.PROJECT }}-${GITHUB_REF/refs\/tags\//}.tar" || true

      - name: Upload Binaries
        uses: actions/upload-artifact@v4
        with:
          name: binaries
          path: ${{ inputs.working-directory }}/build/distributions/${{ env.PROJECT }}-*.*

      - name: Upload binaries to release
        uses: svenstaro/upload-release-action@2.9.0
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          file: ${{ inputs.working-directory }}/build/distributions/${{ env.PROJECT }}-*.*
          tag: ${{ github.ref }}
          overwrite: true
          file_glob: true

  macos-build:
    runs-on: macos-latest
    needs:
      - extract-info
    env:
      PROJECT: ${{ needs.extract-info.outputs.PROJECT }}
      PROJECT_ESCAPED: ${{ needs.extract-info.outputs.PROJECT_ESCAPED }}
    steps:
      - name: Check out sources...
        uses: actions/checkout@v4

      - name: Setup JDK ${{ inputs.java-version }}
        uses: actions/setup-java@v4
        with:
          distribution: 'adopt'
          java-version: ${{ inputs.java-version }}
          cache: 'gradle'
          check-latest: true

      - name: Install the Apple certificate
        env:
          BUILD_CERTIFICATE_BASE64: ${{ secrets.APPLE_CERTIFICATE}}
          P12_PASSWORD: ${{ secrets.APPLE_CERTIFICATE_PASSWORD }}
        run: |
          # create variables
          CERTIFICATE_PATH=$RUNNER_TEMP/build_certificate.p12
          KEYCHAIN_PATH=$RUNNER_TEMP/app-signing.keychain-db
          KEYCHAIN_PASSWORD=$(openssl rand -base64 32)

          # import certificate and provisioning profile from secrets
          echo -n "$BUILD_CERTIFICATE_BASE64" | base64 --decode --output $CERTIFICATE_PATH

          # create temporary keychain
          security create-keychain -p $KEYCHAIN_PASSWORD $KEYCHAIN_PATH
          security set-keychain-settings -lut 21600 $KEYCHAIN_PATH
          security unlock-keychain -p $KEYCHAIN_PASSWORD $KEYCHAIN_PATH

          # import certificate to keychain
          security import $CERTIFICATE_PATH -P $P12_PASSWORD -A -t cert -f pkcs12 -k $KEYCHAIN_PATH
          security list-keychain -d user -s $KEYCHAIN_PATH

      - name: Build with Gradle
        working-directory: ${{ inputs.working-directory }}
        run: ./gradlew test jpackage -PprojectVersion="${GITHUB_REF/refs\/tags\//}" --no-daemon

      - name: ✏️Notarize
        working-directory: ${{ inputs.working-directory }}
        env:
          APPLE_PASSWORD: ${{ secrets.APPLE_PASSWORD}}
          NOTARIZE_PATH: ./build/jpackage/${{ env.PROJECT }}.dmg
        run: |
          xcrun notarytool submit ./build/jpackage/${{ env.PROJECT_ESCAPED }}-*.dmg --apple-id "infrastructure@cip4.org" --password ${{ env.APPLE_PASSWORD }} --team-id 4DL5XX9SG8 --wait
          mv ./build/jpackage/${{ env.PROJECT_ESCAPED }}-*.dmg "build/jpackage/${{ env.PROJECT }}-${GITHUB_REF/refs\/tags\//}.dmg"

      - name: Upload Binaries
        uses: actions/upload-artifact@v4
        with:
          name: binaries
          path: ${{ inputs.working-directory }}/build/jpackage/${{ env.PROJECT }}-*.dmg

      - name: Upload binaries to release
        uses: svenstaro/upload-release-action@2.9.0
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          file: ${{ inputs.working-directory }}/build/jpackage/${{ env.PROJECT }}-*.dmg
          tag: ${{ github.ref }}
          overwrite: true
          file_glob: true

  windows-build:
    runs-on: windows-latest
    needs:
      - extract-info
    env:
      PROJECT: ${{ needs.extract-info.outputs.PROJECT }}
      PROJECT_ESCAPED: ${{ needs.extract-info.outputs.PROJECT_ESCAPED }}
    steps:
      - name: Check out sources...
        uses: actions/checkout@v4

      - name: Setup JDK ${{ inputs.java-version }}
        uses: actions/setup-java@v4
        with:
          distribution: 'adopt'
          java-version: ${{ inputs.java-version }}
          cache: 'gradle'
          check-latest: true

      - name: Build with Gradle
        working-directory: ${{ inputs.working-directory }}
        run: ./gradlew test jpackage -PprojectVersion="${GITHUB_REF/refs\/tags\//}" --no-daemon

      - name: Download JSign
        working-directory: ${{ inputs.working-directory }}
        run: |
          curl -L -o jsign.jar https://github.com/ebourg/jsign/releases/download/6.0/jsign-6.0.jar
          echo "05ca18d4ab7b8c2183289b5378d32860f0ea0f3bdab1f1b8cae5894fb225fa8a  jsign.jar" | sha256sum -c

      - name: Authenticate to Google Cloud
        id: google-auth
        uses: google-github-actions/auth@v2
        with:
          credentials_json: '${{ secrets.GCP_SA_KEY }}'
          token_format: access_token
          service_account: github@cip4-net.iam.gserviceaccount.com

      - name: Sign MSI
        env:
          CODESIGN_CHAIN: ${{ secrets.CODESIGN_CHAIN }}
        working-directory: ${{ inputs.working-directory }}
        run: |
          echo "$CODESIGN_CHAIN" > codesign-chain.pem

          java -jar jsign.jar \
              --storetype GOOGLECLOUD \
              --storepass "${{ steps.google-auth.outputs.access_token }}" \
              --keystore "projects/${{ secrets.GCP_PROJECT_ID }}/locations/europe/keyRings/github" \
              --alias "code-sign" \
              --certfile "codesign-chain.pem" \
              --tsmode RFC3161 \
              --tsaurl http://timestamp.globalsign.com/tsa/r6advanced1 \
              --name "Installer for ${{ env.PROJECT }}" \
              build/jpackage/${{ env.PROJECT_ESCAPED }}-*.msi

      - name: Upload Binaries
        uses: actions/upload-artifact@v4
        with:
          name: binaries
          path: ${{ inputs.working-directory }}/build/jpackage/${{ env.PROJECT }}-*.msi

      - name: Upload binaries to release
        uses: svenstaro/upload-release-action@2.9.0
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          file: ${{ inputs.working-directory }}/build/jpackage/${{ env.PROJECT }}-*.msi
          tag: ${{ github.ref }}
          overwrite: true
          file_glob: true

  docker-build:
    runs-on: ubuntu-latest
    if: ${{ inputs.docker-build }}
    needs:
      - extract-info
    env:
      PROJECT: ${{ needs.extract-info.outputs.PROJECT }}
      PROJECT_HANDLE: ${{ needs.extract-info.outputs.PROJECT_HANDLE }}
      SERVICE_NAME: ${{ needs.extract-info.outputs.PROJECT_HANDLE }}-cip4-org
      RUN_REGION: europe-west1
    steps:
      - name: Check out sources...
        uses: actions/checkout@v4

      - name: Build docker container
        run: |-
          docker build \
            -t cip4/${PROJECT_HANDLE}:${GITHUB_REF##*/} \
            --build-arg VERSION=${GITHUB_REF##*/} \
            --build-arg BUILD_NUMBER=${GITHUB_RUN_NUMBER} \
            --build-arg GIT_REV=${GITHUB_SHA} \
            .

      - name: Login to Docker Hub
        run: docker login -u ${{ secrets.DOCKER_HUB_USERNAME }} -p ${{ secrets.DOCKER_HUB_PASSWORD }}

      - name: Push Docker Container
        run: docker push cip4/${PROJECT_HANDLE}:${GITHUB_REF##*/}

  publish:
    runs-on: ubuntu-latest
    needs:
      - extract-info
      - linux-build
      - macos-build
      - windows-build
    env:
      PROJECT: ${{ needs.extract-info.outputs.PROJECT }}
    steps:
      - name: Download all workflow run artifacts
        uses: actions/download-artifact@v4
        with:
          name: binaries
          path: binaries
      - name: Display structure of downloaded files
        run: ls -R
        working-directory: binaries
      - name: Confluence Upload
        uses: cip4/action-confluence-upload@master
        with:
          url: 'https://cip4.atlassian.net/wiki'
          username: ${{ secrets.ATLASSIAN_USER }}
          password: ${{ secrets.ATLASSIAN_TOKEN }}
          contentId: ${{ inputs.confluence-content-id }}
          label: '${{ inputs.confluence-label }}-release,release'
          filePattern: 'binaries/**/${{ env.PROJECT }}-*.*'
