name: Tool Snapshot

on:
  workflow_call:
    inputs:
      confluence-label:
        description: Label to attach to the binaries uplaoded to confluence.
        required: true
        type: string
      confluence-content-id:
        description: ID of the confluence page to attach the snapshot to.
        required: true
        type: number
      apple-bundle-id:
        description: BundleID to use when notarizing the MacOS build.
        required: true
        type: string
      java-version:
        description: Java version to use for building.
        required: false
        type: number
        default: 15
    secrets:
      APPLE_PASSWORD:
        required: true
      APPLE_CERTIFICATE:
        required: true
      APPLE_CERTIFICATE_PASSWORD:
        required: true
      ATLASSIAN_USER:
        required: true
      ATLASSIAN_TOKEN:
        required: true

jobs:
  extract-info:
    runs-on: ubuntu-latest
    steps:
      - name: Check out sources...
        uses: actions/checkout@v2

      - name: Retrieve Project Name
        id: retrieveProject
        run: |
          PROJECT=$(cat settings.gradle | grep -o -P "(?<=rootProject.name = ').*(?=')")
          PROJECT_ESCAPED=$(printf %q "$PROJECT")
          echo "::set-output name=PROJECT::$PROJECT"
          echo "::set-output name=PROJECT_ESCAPED::$PROJECT_ESCAPED"
    outputs:
      PROJECT: ${{ steps.retrieveProject.outputs.PROJECT }}
      PROJECT_ESCAPED: ${{ steps.retrieveProject.outputs.PROJECT_ESCAPED }}

  linux-build:
    needs:
      - extract-info
    runs-on: ubuntu-latest
    env:
      PROJECT: ${{ needs.extract-info.outputs.PROJECT }}
      PROJECT_ESCAPED: ${{ needs.extract-info.outputs.PROJECT_ESCAPED }}
    steps:
      - name: Setup JDK ${{ inputs.java-version }}
        uses: actions/setup-java@v2
        with:
          distribution: 'adopt'
          java-version: ${{ inputs.java-version }}

      - name: Check out sources...
        uses: actions/checkout@v2

      - name: Build with Gradle
        run: ./gradlew test shadowDistZip shadowDistTar

      - name: Rename .ZIP
        run: mv build/distributions/${{ env.PROJECT_ESCAPED }}-*.zip "build/distributions/${{ env.PROJECT }}-SNAPSHOT-${{ github.run_number }}.zip"

      - name: Rename .TAR
        run: mv build/distributions/${{ env.PROJECT_ESCAPED }}-*.tar "build/distributions/${{ env.PROJECT }}-SNAPSHOT-${{ github.run_number }}.tar"

      - name: Upload Binaries
        uses: actions/upload-artifact@v2
        with:
          name: binaries
          path: build/distributions/${{ env.PROJECT }}-*.*

  macos-build:
    needs:
      - extract-info
    runs-on: macos-latest
    env:
      PROJECT: ${{ needs.extract-info.outputs.PROJECT }}
      PROJECT_ESCAPED: ${{ needs.extract-info.outputs.PROJECT_ESCAPED }}
    steps:
      - name: Setup JDK ${{ inputs.java-version }}
        uses: actions/setup-java@v2
        with:
          distribution: 'adopt'
          java-version: ${{ inputs.java-version }}
          check-latest: true

      - name: Setup Tooling
        run: |
          brew tap mitchellh/gon
          brew install mitchellh/gon/gon

      - name: Install the Apple certificate
        env:
          BUILD_CERTIFICATE_BASE64: ${{ secrets.APPLE_CERTIFICATE}}
          P12_PASSWORD: ${{ secrets.APPLE_CERTIFICATE_PASSWORD }}
        run: |
          # create variables
          CERTIFICATE_PATH=$RUNNER_TEMP/build_certificate.p12
          KEYCHAIN_PATH=$RUNNER_TEMP/app-signing.keychain-db
          KEYCHAIN_PASSWORD=$(openssl rand -base64 32)

          # import certificate and provisioning profile from secrets
          echo -n "$BUILD_CERTIFICATE_BASE64" | base64 --decode --output $CERTIFICATE_PATH

          # create temporary keychain
          security create-keychain -p $KEYCHAIN_PASSWORD $KEYCHAIN_PATH
          security set-keychain-settings -lut 21600 $KEYCHAIN_PATH
          security unlock-keychain -p $KEYCHAIN_PASSWORD $KEYCHAIN_PATH

          # import certificate to keychain
          security import $CERTIFICATE_PATH -P $P12_PASSWORD -A -t cert -f pkcs12 -k $KEYCHAIN_PATH
          security list-keychain -d user -s $KEYCHAIN_PATH

      - name: Check out sources...
        uses: actions/checkout@v2

      - name: Build with Gradle
        run: ./gradlew test jpackage

      - name: ✏️Notarize
        env:
          APPLE_PASSWORD: ${{ secrets.APPLE_PASSWORD}}
          NOTARIZE_PATH: ./build/jpackage/${{ env.PROJECT }}.dmg
          BUNDLE_ID: ${{ inputs.apple-bundle-id }}
        run: |
          mv ./build/jpackage/${{ env.PROJECT_ESCAPED }}-*.dmg "${{ env.NOTARIZE_PATH }}"
          gon .github/workflows/macos/gon-notarize.json
          mv "${{ env.NOTARIZE_PATH }}" "build/jpackage/${{ env.PROJECT }}-SNAPSHOT-${{ github.run_number }}.dmg"

      - name: Upload Binaries
        uses: actions/upload-artifact@v2
        with:
          name: binaries
          path: build/jpackage/${{ env.PROJECT }}-*.dmg

  windows-build:
    needs:
      - extract-info
    runs-on: windows-latest
    env:
      PROJECT: ${{ needs.extract-info.outputs.PROJECT }}
      PROJECT_ESCAPED: ${{ needs.extract-info.outputs.PROJECT_ESCAPED }}
    steps:
      - name: Setup JDK ${{ inputs.java-version }}
        uses: actions/setup-java@v2
        with:
          distribution: 'adopt'
          java-version: ${{ inputs.java-version }}
          check-latest: true

      - name: Check out sources...
        uses: actions/checkout@v2

      - name: Build with Gradle
        run: ./gradlew test jpackage

      - name: Rename binaries
        run: mv build/jpackage/${{ env.PROJECT_ESCAPED }}*.msi "build/jpackage/${{ env.PROJECT }}-SNAPSHOT-${{ github.run_number }}.msi"

      - name: Upload Binaries
        uses: actions/upload-artifact@v2
        with:
          name: binaries
          path: build/jpackage/${{ env.PROJECT }}-*.msi

  publish:
    needs:
      - extract-info
      - linux-build
      - macos-build
      - windows-build
    runs-on: ubuntu-latest
    env:
      PROJECT: ${{ needs.extract-info.outputs.PROJECT }}
    steps:
      - name: Download all workflow run artifacts
        uses: actions/download-artifact@v2
        with:
          name: binaries
          path: binaries
      - name: Display structure of downloaded files
        run: ls -R
        working-directory: binaries
      - name: Confluence Upload
        uses: cip4/action-confluence-upload@master
        with:
          url: 'https://cip4.atlassian.net/wiki'
          username: ${{ secrets.ATLASSIAN_USER }}
          password: ${{ secrets.ATLASSIAN_TOKEN }}
          contentId: ${{ inputs.confluence-content-id }}
          label: '${{ inputs.confluence-label }}-snapshot,snapshot'
          filePattern: 'binaries/**/${{ env.PROJECT }}-*.*'
