name: Tool Snapshot

on:
  workflow_call:
    inputs:
      tool:
        description: Name of the tool to build. This should be identical to `rootProject.name` in `settings.gralde`.
        required: true
        type: string
      confluence-label:
        description: Label to attach to the binaries uplaoded to confluence.
        required: true
        type: string
      confluence-content-id:
        description: ID of the confluence page to attach the snapshot to.
        required: true
        type: number
      apple-bundle-id:
        description: BundleID to use when notarizing the MacOS build.
        required: true
        type: string
    secrets:
      APPLE_PASSWORD:
        required: true
      APPLE_CERTIFICATE:
        required: true
      APPLE_CERTIFICATE_PASSWORD:
        required: true
      ATLASSIAN_USER:
        required: true
      ATLASSIAN_TOKEN:
        required: true

jobs:
  linux-build:
    runs-on: ubuntu-latest
    steps:
      - name: Setup JDK 15
        uses: actions/setup-java@v2
        with:
          distribution: 'adopt'
          java-version: 15

      - name: Check out sources...
        uses: actions/checkout@v2

      - name: Build with Gradle
        run: ./gradlew test shadowDistZip shadowDistTar

      - name: Rename .ZIP
        run: mv build/distributions/${{ inputs.tool }}-*.zip build/distributions/${{ inputs.tool }}-SNAPSHOT-${{ github.run_number }}.zip

      - name: Rename .TAR
        run: mv build/distributions/${{ inputs.tool }}-*.tar build/distributions/${{ inputs.tool }}-SNAPSHOT-${{ github.run_number }}.tar

      - name: Upload Binaries
        uses: actions/upload-artifact@v2
        with:
          name: binaries
          path: build/distributions/${{ inputs.tool }}-*.*

  macos-build:
    runs-on: macos-latest
    steps:
      - name: Setup JDK 15
        uses: actions/setup-java@v2
        with:
          distribution: 'adopt'
          java-version: 15
          check-latest: true

      - name: Setup Tooling
        run: |
          brew tap mitchellh/gon
          brew install mitchellh/gon/gon

      - name: Install the Apple certificate
        env:
          BUILD_CERTIFICATE_BASE64: ${{ secrets.APPLE_CERTIFICATE}}
          P12_PASSWORD: ${{ secrets.APPLE_CERTIFICATE_PASSWORD }}
        run: |
          # create variables
          CERTIFICATE_PATH=$RUNNER_TEMP/build_certificate.p12
          KEYCHAIN_PATH=$RUNNER_TEMP/app-signing.keychain-db
          KEYCHAIN_PASSWORD=$(openssl rand -base64 32)

          # import certificate and provisioning profile from secrets
          echo -n "$BUILD_CERTIFICATE_BASE64" | base64 --decode --output $CERTIFICATE_PATH

          # create temporary keychain
          security create-keychain -p $KEYCHAIN_PASSWORD $KEYCHAIN_PATH
          security set-keychain-settings -lut 21600 $KEYCHAIN_PATH
          security unlock-keychain -p $KEYCHAIN_PASSWORD $KEYCHAIN_PATH

          # import certificate to keychain
          security import $CERTIFICATE_PATH -P $P12_PASSWORD -A -t cert -f pkcs12 -k $KEYCHAIN_PATH
          security list-keychain -d user -s $KEYCHAIN_PATH

      - name: Check out sources...
        uses: actions/checkout@v2

      - name: Build with Gradle
        run: ./gradlew test jpackage

      - name: ✏️Notarize
        env:
          APPLE_PASSWORD: ${{ secrets.APPLE_PASSWORD}}
          NOTARIZE_PATH: ./build/jpackage/${{ inputs.tool }}.dmg
          BUNDLE_ID: ${{ inputs.apple-bundle-id }}
        run: |
          mv ./build/jpackage/${{ inputs.tool }}-*.dmg ${{ env.NOTARIZE_PATH }}
          gon .github/workflows/macos/gon-notarize.json
          mv ${{ env.NOTARIZE_PATH }} build/jpackage/${{ inputs.tool }}-SNAPSHOT-${{ github.run_number }}.dmg

      - name: Upload Binaries
        uses: actions/upload-artifact@v2
        with:
          name: binaries
          path: build/jpackage/${{ inputs.tool }}-*.dmg

  windows-build:
    runs-on: windows-latest
    steps:
      - name: Setup JDK 15
        uses: actions/setup-java@v2
        with:
          distribution: 'adopt'
          java-version: 15
          check-latest: true

      - name: Check out sources...
        uses: actions/checkout@v2

      - name: Build with Gradle
        run: ./gradlew test jpackage

      - name: Rename binaries
        run: mv build/jpackage/${{ inputs.tool }}*.msi build/jpackage/${{ inputs.tool }}-SNAPSHOT-${{ github.run_number }}.msi

      - name: Upload Binaries
        uses: actions/upload-artifact@v2
        with:
          name: binaries
          path: build/jpackage/${{ inputs.tool }}-*.msi

  publish:
    needs:
      - linux-build
      - macos-build
      - windows-build
    runs-on: ubuntu-latest
    steps:
      - name: Download all workflow run artifacts
        uses: actions/download-artifact@v2
        with:
          name: binaries
          path: binaries
      - name: Display structure of downloaded files
        run: ls -R
        working-directory: binaries
      - name: Confluence Upload
        uses: cip4/action-confluence-upload@master
        with:
          url: 'https://cip4.atlassian.net/wiki'
          username: ${{ secrets.ATLASSIAN_USER }}
          password: ${{ secrets.ATLASSIAN_TOKEN }}
          contentId: ${{ inputs.confluence-content-id }}
          label: '${{ inputs.confluence-label }}-snapshot,snapshot'
          filePattern: 'binaries/**/${{ inputs.tool }}-*.*'
